* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

/* Tipografias */
.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* <weight>: Use a value from 100 to 1000 */
/* <uniquifier>: Use a unique and descriptive class name */

.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Elementos agrupados */
header, main {
    width: 100%;
    padding: 0px 4%;
}

/* <header> */
header {
    height: 110px;
    background: #FF1313;
}

header #logo {
    display: block;
    float: left;
    margin-top: 22px;
}

header #logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 36px;
    color: white;
}

header nav {
    display: block;
    float: right;
    margin-top: 42px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    padding: 0px 20px;
    color: white;
}

header nav ul li a {
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

header nav ul li a:hover {
    color: black;
}

/* <main> */
main section {
    width: 100%;
    height: 100vh;
}

main section#hero {
    background: black;
}