* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

/* Tipografias */
.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* Elementos */
header {
    width: 100%;
    height: 110px;
    padding: 0px 20px;
    background: #FF1313;
}

header #logo {
    display: block;
    float: left;
}

header #logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 36px;
    color: white;
}

header nav {
    display: block;
    float: right;
    padding-top: 26px 0px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    padding: 0px 20px;
}